rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /pets/{imageId} {
      // Permitir la subida y eliminación si el usuario está autenticado
      allow write: if request.auth != null;
      
      // La lectura es pública para que cualquiera que escanee el collar NFC vea la foto
      allow read: if true;
    }
  }
}
